.contakts {
  margin-left: auto;
}
.contakts .link {
  color: $title-text-color;

  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.auth-nav {
  display: flex;
}
.auth-nav .link {
  display: flex;
  align-items: center;
}
.auth-nav .item + .item {
  margin-left: 30px;
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: $accent-color;
}

.mail-icon {
  width: 16px;
  height: 11px;
  fill: currentColor;
  margin-right: 10px;
}

.tel-icon {
  width: 10px;
  height: 15px;
  fill: currentColor;
  margin-right: 10px;
}